<style>

.item {
	clear:both;
}
.label {
	width:6%;
	font-weight:bold;
	float: left;
}
.transform {
	width:20%;
	float: left;
}
.imgdisplay {
	width:35%;
	float: left;
}

</style>

<%
	@mm.formats.keys.each { |p|
%>

<div class="item">
	<div class="label">
	:<%= p.to_s %>
	</div>
	<div class="transform">
	<%= @mm.formats[p] %>
	</div>

	<div class="imgdisplay">
		<%= magick_tag "magickman.jpg", p, :class =>'magick' %>
	</div>
	<div class="imgdisplay">
		<%= magick_tag "thisdoesnotexist.jpg", p, :class =>'magick' %>
	</div>
</div>

<div></div>

<%
	}
%>

